* {
  display: flex;
  flex-direction: column;
  border: 1px solid darkgray;
}

body {
  display: flex;
  width: 70%;
  align-self: center;
}

header {
  display: flex;
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
}

footer {
}

h1 {
  display: flex;
}

h2 {

}

h3 {

}

p {

}

#nav {
  align-self: flex-end;
}

#flavortext {

}

#flavor  {

}

#combat {
  flex-direction: row;
  justify-content: space-around;
}

#hero {
  width: 45%;
  border: 2px solid red;
}

#heroimg {

}

#herohp {

}

#herobuttons {

}

.herobuttonsgame {
  flex-direction: row;
}

#enemy {
  width: 45%;
  border: 2px solid red;
}

#enemyimg {

}

#enemyhp {

}

#footertext {
}

#herostats {

}

#statschart {

}

#enemyindextext {

}

.subhead {

}

.herostatsimg {

}

.enemyindex {
}

.enemycontainer {
  width: 45%;
}

.enemyindeximg {

}

.aboutteam {

}

.teamcontainer {
  width: 45%;
}

.teammemberimg {

}

.teammembertext {

}
